.dashboard {
  position: relative;
  width: 20%;
  float: right;
}

.points-container {
  font-family: 'Coiny', cursive;
  .points {
     font-size: 400%;
     text-align: center;
     margin-bottom: -16px;
  }

  .text {
    text-align: center;
    color: #fc730a;
  }
}

.info {
  margin-top: 100px;
  color: #dce3ef;
  font-size: 200%;
  text-align: center;
}
