.dashboard {
  position: relative;
  width: 20%;
  float: right;
}

.points-container {
  .points {
     font-size: 400%;
     text-align: center;
  }

  .text {
    text-align: center;
    color: #dce3ef;
  }
}

.info {
  color: #dce3ef;
  font-size: 200%;
  text-align: center;
}
