.witch-container {
  position: relative;
  width: 80%;
  float: left;
}

#witch {
  position: absolute;
  z-index: 2;
  margin-top: -70px;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  width: 70px;
}
